npx expo install expo-checkbox
npm install react-native-toast-message
npm install i18next react-i18next
npm install expo-localization
npm install react-native-check-box
npm install @types/react-native-check-box