expo-checkbox
react-native-toast-message
i18next react-i18next
expo-localization
react-native-check-box
@types/react-native-check-box
expo-file-system
expo-web-browser
react-native-webview
react-native-vector-icons

@react-native-async-storage/async-storage@1.23.1 
@react-native-picker/picker@2.9.0 
expo@~52.0.46 
expo-router@~4.0.21 
expo-splash-screen@~0.29.24 
react-native@0.76.9
@expo/react-native-action-sheet 
react-native-svg